* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Martel', serif;
}

body {
  padding: 0 10vw;
  background-color: #0A070A;
  color: #ecd9c5;
}

body::-webkit-scrollbar {
  display: none;
}

#hero {
  position: relative;
  margin-bottom: 50px;
}

#hero img {
  width: 100%;
}

#hero div {
  position: absolute;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0),rgb(0, 0, 0, 1) 76%, rgb(0, 0, 0, 1) 100%);
  /* color: white; */
  text-align: center;
  height: calc(60% + 50px);
  width: 100%;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#hero h1 {
  font-size: 5.5rem;
}

#hero p {
  font-size: 1.75rem;
  letter-spacing: .5rem;
  margin-bottom: 100px;
}

#lore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

#lore h1, #abilities h1 {
  font-size: 4rem;
}

#lore p, #abilities h3 {
  font-size: 1.5rem;
  letter-spacing: .10rem;
}

#abilities {
  display: flex;
  height: auto;
  padding: 3rem 0;
}

.abilitySet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abilitySet > * {
  width: 75px;
  height: 75px;
  background-color: #ecd9c5;
  margin-bottom: .8rem;
}

.abilitiesContainer {
  flex: 1;
  margin-right: 3rem;
}

.abilitiesVideo {
 flex: 1;
 aspect-ratio: 19/6;
 background-color: #ecd9c5;
}

#relatedCharacters {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charactersContainer {
  width: 100%;
}

.characters {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.characters::-webkit-scrollbar {
  display: none;
}

.characters > * {
  min-width: 200px;
  height: 200px;
  background-color: #ecd9c5;
  margin: 10px 40px;
}